ul{
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}

.header{
    padding: 5px 5px;
    display: flex;
}

.header img{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
}

.header b{
    margin-left: 8px;
    font-size: smaller;
    margin-top: 5px;
}

.photo img{
    object-fit: cover;
    width: 100%;
}

.buttons button{
    margin-right: 10px;
}

.infoBar{
    margin-left: 8px;
    margin-right: 8px;
}

.time{
    font-size: smaller;
    text-transform: uppercase;
    color: grey;
}

.addComment{
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
    display: flex;
    margin-bottom: 20px;
}
.addComment input{
    background: none;
    border: none;
    height: 16px;
    outline: none;
    font:inherit;
    padding: 0;
    width: 100%;
}
.addComment ::placeholder { 
    color: #999;
}
.addComment button{
    color:#3897f0;
    font-weight: 600;
    font-size: 16px;
}

.userPost{
    margin-bottom: 45px;
}