.posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-bottom: 50px;
}

.header{
    display: flex;
    margin-left: 10px;
}

.header img{
    margin-top: 10px;
    max-width: 110px;
    max-height: 110px;
    border-radius: 100px;
}

.header h2{
    margin-left: 15px;
    font-weight: normal;
}

.bio {
    margin: 20px 10px 20px 10px
}

.info{
    display: flex;
    border-top: 1.5px solid lightgray;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.info section{
    width: 33%;
    text-align: center;
}

.weakCenter{
    text-align: center;
    color: grey;
    margin-bottom: 5px;
}

.followBtn{
    background: #3897f0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    margin:10px 0px;
    margin-left: 10px;
}
.unfollowBtn{
    background:transparent;
    border: 1px solid #dbdbdb;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    margin:10px 0px;
    margin-left: 10px;
}
/* this will change the cursor to indicate its clickability*/
button{
  cursor:pointer;
}